<!DOCTYPE html>
<html>
<head>
  <title>pab - backbone.js photo-sharing app</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="app/css/main.css">
</head>

<body>
  <header id="header-inner"></header>

  <section id="content"></section>

  <footer id="footer-wrapper"></footer>

  <script type="text/template" id="header-inner-content">
  <% if (isUserLoggedIn) { %>
    <div class="container">
      <h2>pab <small><i>Backbone.js Photo-sharing app</i></small></h2>

      <div class="text-right">
        Hello <b><%= name %></b> | <a href="#about">About</a> | <a href="#logout">Log Out</a>
      </div>
    </div>
  <% } %>
  </script>

  <script type="text/template" id="footer-content">
  <% if (isUserLoggedIn) { %>
    <div class="container">
      <div class="btn-group btn-group-lg btn-group-justified">
        <a href="/" class="btn btn-default">
          <i class="glyphicon glyphicon-home"></i>
        </a>
        <a href="#users" class="btn btn-default">
          <i class="glyphicon glyphicon-search"></i>
        </a>
        <a href="#upload" class="btn btn-default">
          <i class="glyphicon glyphicon-camera"></i>
        </a>
        <a href="#user" class="btn btn-default">
          <i class="glyphicon glyphicon-user"></i>
        </a>
      </div>
    </div>
  <% } %>
  </script>


  <!-- HOME PAGE -->
  <script type="text/template" id="index-page">
    <div class="container">
      <ul class="list-unstyled" id="followed-photos"></ul>
    </div>
  </script>

  <script type="text/template" id="followed-photos-item">
    <div class="panel panel-default">
      <h5><img width="30" class="img-circle" src="<%= userProfileImage %>"/> <b><%= username %></b></h5>
      <a href="#photo/<%= id %>"><img class="img-responsive" src="<%= file %>"/></a>
      <h5><%= caption %></h5>
    </div>
  </script>


  <!-- LOGIN PAGE -->
  <script type="text/template" id="login-page">
  <div class="container">
    <h1 class="text-center">pab</h1>
    <h4 class="text-center"><i>What if your fave fictional characters were on instagram?</i></h4>
    <div class="panel panel-default">
      <p>This is a fictional app containing characters from various movies and tv shows</p>
      <ul>
        <li>View character's photos</li>
        <li>Upload photos</li>
        <li>Comment on photos</li>
      </ul>
      <br>
      <form id="login-form-wrapper"></form>
      <hr>
      <a href="#create">Create New Account</a>
    </div>
  </div>
  </script>

  <script type="text/template" id="login-form">
    <div class="form-group">
      <label>Email</label>
      <input id='email' type='text' class='form-control' placeholder='Enter your email'>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input id='password' type='password' class='form-control' placeholder='Enter your password'>
    </div>
    <button id="submitUser" class="btn btn-default btn-block"> Login </button>
  </script>

  <script type="text/template" id="create-account-page">
    <div class="panel panel-default">
      <h3 class="text-center"><b>Create Account</b></h3>
      <form id="create-new-user-wrapper"></form>
    </div>
  </script>


  <!-- NEW USER PAGE -->
  <script type="text/template" id="create-new-user-form">
  <div class="container">
    <div class="form-group">
      <label>Email</label>
      <input id='email' type='text' class='form-control' placeholder='Enter your email'>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input id='password' type='password' class='form-control' placeholder='Enter your password'>
    </div>
    <button id="submitNewUser" class="btn btn-default btn-block"> Create </button>
  </div>
  </script>


  <!-- ABOUT THIS APP PAGE -->
  <script type="text/template" id="about-page">
  <div class="container">
    <p>this photo-sharing app is for learning purpose only</p>
  </div>
  </script>


  <!-- UPLOAD PHOTO PAGE -->
  <script type="text/template" id="upload-photo-page">
  <div class="container">
    <h4>MY PHOTOS</h4>
    <form id="add-photo-form"></form>
    <hr>
    <ul class="list-unstyled row" id="photo-list"></ul>
  </div>
  </script>

  <script type="text/template" id="add-photo-form-content">
    <div class="form-group">
      <label>Photo</label>
      <input id='imageUpload' capture="camera" type='file' accept="image/"/>
    </div>
    <div class="form-group">
      <label>Caption</label>
      <input id='imageCaption' type='text' class='form-control' placeholder='Enter caption'/>
    </div>
    <button id="uploadPhoto" class="btn btn-default btn-block"> Upload </button>
  </script>

  <script type="text/template" id="photo-item">
    <div class="panel panel-default">
      <a href="#photo/<%= id %>"><img class="img-responsive" src="<%= file %>"/></a>
    </div>
  </script>


  <!-- PHOTO PAGE -->
  <script type="text/template" id="photo-page">
  <div class="container">
    <div class="panel panel-default">
      <h5><b>user who uploaded photo</b></h5>
      <img class="img-responsive" src="<%= file %>"/>
      <h5><%= caption %></h5>
      <ul class="list-unstyled" id="photo-comments"></ul>
      <hr>
      <form id="photo-comment-wrapper">
        <textarea id="photo-comment-text" class="form-control"></textarea><br>
        <button id="photo-comment-btn" class="btn btn-default btn-block">Comment</button>
      </form>
    </div>
  </div>
  </script>

  <script type="text/template" id="photo-comment-item">
    <b><%= username %></b> <%= text %>
  </script>


  <!-- MY PROFILE PAGE -->
  <script type="text/template" id="user-profile-page">
  <div class="container">
    <h3>My Profile</h3>
    <img class="img-circle" src="<%= profileImageURL %>"/><br>
    Email: <%= name %>
  </div>
  </script>


  <!-- USERS PAGE -->
  <script type="text/template" id="users-page">
  <div class="container">
    <h2>All pab users</h2>
    <ul class="list-unstyled" id="all-users-wrapper"></ul>
  </div>
  </script>

  <script type="text/template" id="users-item">
    <a href="#users/<%= id %>"><%= name %></a>
    <button class="<%= followStatus %>"><%= followStatus %></button>
  </script>

  <script type="text/template" id="users-profile-page">
    <a href="#users">Go back to all Users</a>
    <h3><%= name %></h3>
    <img src="<%= profileImageURL %>"/><br>
  </script>


  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/underscore/underscore-min.js"></script>
  <script src="bower_components/backbone/backbone-min.js"></script>
  <script src="bower_components/firebase/firebase.js"></script>
  <script src="bower_components/backbonefire/dist/backbonefire.js"></script>

  <script src="app/app.js"></script>
  <script src="app/login-page.js"></script>
  <script src="app/create-new-user-page.js"></script>
  <script src="app/upload-photos.js"></script>
  <script src="app/user-profile-page.js"></script>
  <script src="app/photo-page.js"></script>
  <script src="app/users-page.js"></script>
  <script src="app/index-page.js"></script>
  <script src="app/router.js"></script>
</body>
</html>
