<!DOCTYPE html>
<html>
<head>
  <title>pab - backbone.js photo-sharing app</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!--
  <link rel="stylesheet" type="text/css" href="app/main.css">
  -->
</head>

<body>
  <header>
    <div class="container">
      <h1>pab <small> Backbone.js Photo-sharing app</small></h1>
      <br>
      <div id="header-inner"></div>
    </div>
  </header>

  <div id="content" class="container"></div>

  <script type="text/template" id="header-inner-content">
    <a href="/" class="btn btn-default">Home</a>
    <a href="#about" class="btn btn-default">About</a>

    <% if (isUserLoggedIn) { %>
      <a href="#users" class="btn btn-default">All Users</a>
      <a href="#users/id" class="btn btn-default">My Profile</a>
      <a href="#upload" class="btn btn-default">Upload</a>
      <a href="#logout" class="btn btn-default">Log Out</a>
      <br>
      <br>
      Hello <b><%= email %></b>
    <% } %>
  </script>

  <script type="text/template" id="index-page">
    <h2>Hello User</h2>
    <a href="#logout">Log Out</a>
  </script>

  <script type="text/template" id="login-page">
    <h1> Login In </h1>
    <form id="login-form-wrapper"></form>
    <a href="?#create">New User</a>
  </script>

  <script type="text/template" id="login-form">
    <p>Username: <input id='email' type='text' /></p>
    <p>Password: <input id='password' type='password' /></p>
    <button id="submitUser" class="btn btn-default"> Login </button>
  </script>

  <script type="text/template" id="create-account-page">
    <h1> Create Account </h1>
    <form id="create-new-user-wrapper"></form>
  </script>

  <script type="text/template" id="create-new-user-form">
    <p>Email: <input id="email" type='text' /></p>
    <p>Password: <input id="password" type='password' /></p>
    <button id="submitNewUser" class="btn btn-default"> Create </button>
  </script>

  <script type="text/template" id="about-page">
    <p>this photo-sharing app is for learning purpose only</p>
  </script>

  <script type="text/template" id="upload-photo-page">
    <h3>Upload Photos</h3>

    <form id="add-photo-form"></form>
    <img id="imgOutput"/>

    <ul id="photo-list"></ul>
  </script>

  <script type="text/template" id="add-photo-form-content">
    <p>Photo: <input type="file" accept="image/" capture="camera" id="imageUpload" /></p>
    <p>Caption: <input type="text" id="imageCaption" /></p>
    <button id="uploadPhoto"> Upload </button>
  </script>

  <script type="text/template" id="photo-item">
    <h2>hello</h2>
  </script>

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/underscore/underscore-min.js"></script>
  <script src="bower_components/backbone/backbone-min.js"></script>
  <script src="bower_components/firebase/firebase.js"></script>
  <script src="bower_components/backbonefire/dist/backbonefire.js"></script>
  <script src="firepano/sha256.js"></script>

  <script src="app/app.js"></script>
  <script src="app/login-page.js"></script>
  <script src="app/create-new-user-page.js"></script>
  <script src="app/upload-photos.js"></script>
  <script src="app/router.js"></script>
</body>
</html>
