/*
 * Color scheme
 * https://coolors.co/app/d8dbe2-a9bcd0-58a4b0-373f51-1b1b1e
 * */
header {
  background: #fff;
  border-bottom: 2px solid #edeeee;
}
header h2 {
  margin-top: 1em;
}
header .container {
  margin-bottom: 1em;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

body {
  background: #D8DBE2;
}

.container {
  max-width: 700px !important;
}

.img-responsive {
  width: 100%;
}

h1, h2, h3, h4. h5, h6 {
  color: #1B1B1E;
}

b {
  color: #337ab7;
}

#login-page .panel {
  padding: 2em;
}

#login-page {
  height: 100vh;
}
#login-page h1 {
  color: #58A4B0;
  font-weight: 500;
}

.panel h5 {
  padding: 0 2em;
}

.panel #photo-comment-wrapper {
  margin: 0 2em 2em;
}

#login-page,
#index-page,
#users-page,
#upload-photo-page,
#user-profile-page,
#about-page {
  padding: 2em 0 4em;
}
