header {
  background: #fff;
  border-bottom: 2px solid #edeeee;
}

body {
  background: #FAFAFA;
}

.container {
  max-width: 700px !important;
}

.img-responsive {
  width: 100%;
}

b {
  color: #337ab7;
}

.panel {
  padding: 2em;
}

#login-page,
#create-new-user-form {
  width: 80%;
  margin: 0 auto;
}
